rpi-image
.vscode
temp/mount/
README.md
certs/
config/
.helmsman-tmp
ansible/cache
.env
ansible/plugins/
zot/

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
