apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ ca_crt.certificate | string | b64encode }}
    server: https://{{ certs_and_config_kube_api_public_ip }}:6443
  name: {{ certs_and_config_cluster_name }}
contexts:
- context:
    cluster: {{ certs_and_config_cluster_name }}
    user: {{ item.common_name }}
  name: default
current-context: default
kind: Config
preferences: {}
users:
- name: {{ item.common_name }}
  user:
    client-certificate-data: {{ certs.results | selectattr('item.name', 'eq', item.name) | map(attribute='certificate') | first | string | b64encode }}
    client-key-data: {{ keys.results | selectattr('item.name', 'eq', item.name) | map(attribute='privatekey') | first | string | b64encode }}
