[Unit]
Description=etcd
Documentation=https://github.com/coreos

[Service]
Type=notify
ExecStart=/usr/local/bin/etcd \
  --name {{ ansible_hostname }} \
  --cert-file=/etc/etcd/kube-apiserver.crt \
  --key-file=/etc/etcd/kube-apiserver.key \
  --peer-cert-file=/etc/etcd/kube-apiserver.crt \
  --peer-key-file=/etc/etcd/kube-apiserver.key \
  --trusted-ca-file=/etc/etcd/ca.crt \
  --peer-trusted-ca-file=/etc/etcd/ca.crt \
  --peer-client-cert-auth \
  --client-cert-auth \
  --initial-advertise-peer-urls https://{{ ansible_eth0['ipv4']['address'] }}:2380 \
  --listen-peer-urls https://{{ ansible_eth0['ipv4']['address'] }}:2380 \
  --listen-client-urls https://{{ ansible_eth0['ipv4']['address'] }}:2379,https://127.0.0.1:2379 \
  --advertise-client-urls https://{{ ansible_eth0['ipv4']['address'] }}:2379 \
  --initial-cluster-token etcd-cluster-0 \
  --initial-cluster {% for host in groups['etcd'] %}{{ host }}=https://{{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}:2380{% if not loop.last %},{% endif %}{%- endfor %} \
  --initial-cluster-state new \
  --data-dir=/var/lib/etcd \
  --heartbeat-interval=2000 \
  --log-level {{ etcd_cluster_log_level }} \
  --election-timeout=10000
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
