[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart=/usr/local/bin/kube-controller-manager \
  --bind-address=0.0.0.0 \
  --cluster-cidr={{ provision_control_plane_pod_ip_range }} \
  --cluster-name=kubernetes \
  --cluster-signing-cert-file=/var/lib/kubernetes/ca.crt \
  --cluster-signing-key-file=/var/lib/kubernetes/ca.key \
  --kubeconfig=/var/lib/kubernetes/kube-controller-manager.kubeconfig \
  --leader-elect=true \
  --root-ca-file=/var/lib/kubernetes/ca.crt \
  --service-account-private-key-file=/var/lib/kubernetes/service-account.key \
  --service-cluster-ip-range={{ provision_control_plane_service_ip_range }} \
  --use-service-account-credentials=true \
    {% if provision_control_plane_verbose_logs is true %}
  --v=2 \
  {% endif %}
  --allocate-node-cidrs
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
